.posts {
    background-color: #fff;
    color: #050b17;
}
.postsBlock {
    padding: 10px;
}
.posts {
    margin-top: 10px;
}
.addPost {
    margin-bottom: 20px;
}

h3 {
    font-family: Verdana, sans-serif;
    color: #050b17;
}